body {
    font-familly: sans-serif;
}

/* Make content area fill the entire browsing window */
html,
    .fullscreen {
        display: flex;
        width: 100%;
        height: 100%;
        marging: 0;
        padding: 0;
    }

    /* Center the content in the browser window */
    .container {
        margin: auto;
        text-align: center;
    }

    .title {
        font-size: 3rem;
    }
